.App {
  text-align: center;
  background-color: rgb(199, 252, 211);
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(46, 40, 40);
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

header {
  display: inline-block;
  padding-left: 100px;
  padding-right: 100px;
  border: dashed 5px; 
  margin: 20px; 
  background-color: rgb(206, 239, 247);
}

h1 {
  font-size: 72px;
  text-align: center;
}

.title {
  font-size: 48px;
}

.details {
  text-align: left ;
}

.card {
  box-shadow: 5px 10px;
}

.cardContent {
  background-color: rgb(206, 239, 247);
}

.inputs {
  padding: 20px;
}

.titleInput {
  display: block;
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.descriptionInput {
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  height: 150px;
}

.edit{
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
